<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">Ir al login</a>
  </li>
  <li>
    <a routerLink="/auth/login">Ir al registro</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/heroes/listado">Listado Heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">Agregar Heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/editar/123">Editar Heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">Buscar Heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/123">Ver informacion de Heroe</a>
  </li>
</ul>
